body {
    font-family: sans-serif;
}

h1 {
    color: #2C3E50
}

p {

}

.app-header {
    background: #82D712;
	padding: 20px 0;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
